.App {
  /*text-align: center;*/
  margin: 10px;
}

.App-title {
  text-align: center;
  font-size: 45px;
  padding-top: 5%;
  margin: 5%;
  position: relative;
  left: 0px;
  font-family: "Bookman Old Style"
}

.App-search {
  margin-left: 20px;
}

.App-button {
  width: 300px;
  margin:0 auto;
  display: block;
  text-align: center;
  position: relative;
  left: -16px;
  font-family: "Bookman Old Style"
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-image {
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0px;
  margin-bottom: 0px;
}
.App-color {
  /*background-color: grey;*/
  float: left;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

.App-color2 {
  /*background-color: grey;*/
  float: left;
  width: 25%;
  margin: 0 auto;
  padding: 5px;
}


/* This created to center the submit / reset button - cameron */
.center {
  position: relative;
  left: 24px;
  top: -20px;
}


.centerGrad {
  position: relative;
  left: 24px;
}

.centerName
{
  position: relative;
  left: 40px;

}

