
.App {


}

.App-title {
  text-align: center;
  font-size: 45px;
  padding-top: 5%;
  margin: 5%;
  position: relative;
  left: 0px;
  font-family: "Bookman Old Style"
}

.App-search {
  margin-left: 20px;
}

.App-button {

width: 200px;
  float: right;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
  font-family: "Bookman Old Style";
  display: flex;
  flex-direction: column;
  right: 50px;
}

.grad-button {
  position: relative;
  right: 50px;


}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-image {
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0px;
  margin-bottom: 0px;
}
.App-color {
  /*background-color: grey;*/
  float: left;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

.App-color2 {
  /*background-color: grey;*/
  float: left;
  width: 25%;
  margin: 0 auto;
  padding: 5px;
}


/* This created to center the submit / reset button - cameron */
.center {
  position: relative;
  left: 24px;
  top: -20px;
}




.centerName
{
  position: relative;
  left: 40px;

}

.container {

  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  float: right;
  max-height: 100%;
  max-width: 270px;
  border: 3px solid black;
 background-color: darkred;
  opacity: .7;
  color: white;
  margin: 0;
  padding: 0;
  top: 250px;
  left: 140px;

}

